<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
  <style>
    * {
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    }
    
    div {
      margin: 0 50px;
    }

    body li {
      display: inline-block;
      font-size: 1.2rem;
      font-weight: bold;
      padding: 10px;
      color: #00adb5;
    }
  </style>
</head>

<body>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/trains">Trains</a></li>
    <li><a href="/logout">Log Out</a></li>
  </ul>